#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* text-align: center; */
}

/* App.css */
.main-content {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Center the content horizontally */
  align-items: left;
  /* Center the content vertically */
}

.landing-section {
  display: flex;
  justify-content: space-between;
  /* Space the elements evenly */
  align-items: center;
  /* Center the content vertically */
  margin-bottom: 5%;
  /* Add some space between sections */
}

.landing-left {
  flex: 1;
  /* Take up all available space */
  margin-right: 5%;
  /* Add some space between text and image */
}

.landing-right {
  flex: 1;
  /* Take up all available space */
}

.landing-right img {
  max-width: 100%;
  /* Ensure the image doesn't exceed its container */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color));
}